<html xmlns:th="http://www.thymeleaf.org">


<div th:fragment="headerH2(text)">
    <h2 th:text="${text}">
    </h2>
</div>

<div th:fragment="headerH4(text)">
    <h4>
        <label th:text="${text}"></label>
    </h4>
</div>

<div th:fragment="headerH4forInput(inputName, label)">
    <h4>
        <label th:for="${inputName}" th:text="#{${label}}"></label>
    </h4>
</div>

<div th:fragment="fieldError(inputName)">
    <p th:if="${#fields.hasErrors('__${inputName}__')}" th:errors="*{__${inputName}__}"></p>
</div>

<div th:fragment="inputTextField(inputName, label)">
    <div class="form-group">
        <div th:replace="fragments/components :: headerH4forInput(inputName=${inputName}, label=${label})"></div>
        <input
                type="text"
                class="form-control input-lg"
                th:name="${inputName}"
                th:placeholder="#{${label}}"
                required="required"
                th:field="*{__${inputName}__}"/>
        <div th:replace="fragments/components :: fieldError(inputName=${inputName})"></div>
    </div>
</div>

<div th:fragment="inputNumberField(inputName, label)">
    <div class="form-group">
        <div th:replace="fragments/components :: headerH4forInput(inputName=${inputName}, label=${label})"></div>
        <input
                type="number"
                class="form-control input-lg"
                th:name="${inputName}"
                th:placeholder="#{${label}}"
                required="required"
                th:field="*{__${inputName}__}"/>
        <div th:replace="fragments/components :: fieldError(inputName=${inputName})"></div>
    </div>
</div>

<div th:fragment="inputNormalEmailField(inputName, label)">
    <div class="form-group">
        <input
                type="email"
                class="form-control input-lg"
                th:name="${inputName}"
                th:id="${inputName}"
                th:placeholder="#{${label}}"
                required="required"/>
    </div>
</div>

<div th:fragment="inputNormalPasswordField(inputName, label)">
    <div class="form-group">
        <input
                type="password"
                class="form-control input-lg"
                th:name="${inputName}"
                th:id="${inputName}"
                th:placeholder="#{${label}}"
                required="required"/>
    </div>
</div>

<div th:fragment="inputHiddenField(inputName)">
        <input
                type="text"
                hidden="hidden"
                th:name="${inputName}"
                th:id="${inputName}"
                th:field="*{__${inputName}__}"
                required="required"/>
</div>


<div th:fragment="inputEmailField(inputName, label)">
    <div class="form-group">
        <div th:replace="fragments/components :: headerH4forInput(inputName=${inputName}, label=${label})"></div>
        <input
                type="email"
                class="form-control input-lg"
                th:name="${inputName}"
                th:placeholder="#{${label}}"
                required="required"
                th:field="*{__${inputName}__}"/>
        <div th:replace="fragments/components :: fieldError(inputName=${inputName})"></div>
    </div>
</div>

<div th:fragment="inputPasswordField(inputName, label)">
    <div class="form-group">
        <div th:replace="fragments/components :: headerH4forInput(inputName=${inputName}, label=${label})"></div>
        <input
                type="password"
                class="form-control input-lg"
                th:name="${inputName}"
                th:placeholder="#{${label}}"
                required="required"
                th:field="*{__${inputName}__}"/>
        <div th:replace="fragments/components :: fieldError(inputName=${inputName})"></div>
    </div>
</div>

<div th:fragment="submitButton(label)">
    <div class="form-group">
        <button
                type="submit"
                class="btn btn-primary btn-lg btn-block"
                th:text="#{${label}}">
        </button>
    </div>
</div>

<div th:fragment="submitButtonSmall(label)">
    <button
            type="submit"
            th:text="#{${label}}">
        <!--class="btn btn-xs btn-primary"-->
    </button>
</div>


<div th:fragment="h2LabelCentered(label, value)">
    <h2 class="text-center" th:text="#{${label}} + ' ' + ${value}"></h2>
</div>

<div th:fragment="h4LabelCentered(label, value)">
    <h4 class="text-center" th:text="#{${label}} + ' ' + ${value}"></h4>
</div>


<div th:fragment="inputSelectList(inputName, label, selectList)">
    <div th:replace="fragments/components :: headerH4forInput(inputName=${inputName}, label=${label})"></div>
    <div class="form-group">
        <select class="form-control" th:field="*{__${inputName}__}">
            <option th:each="option : ${selectList}"
                    th:value="${option.id}"
                    th:text="${option}">
            </option>
        </select>
    </div>
</div>


<div th:fragment="accordianButton(dataTargetId, label)">
    <button
            type="button"
            data-toggle="collapse"
            th:attr="data-target=${dataTargetId}"
            class="btn btn-info btn-block"
            th:text="#{${label}}">
    </button>
</div>



</html>