<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
</head>
<body>
<div th:fragment="footer">
    <footer class="footer-basic-centered" style="background-color: #F8F8F8;">
        <!--<h6 th:text="#{department.actualChoosen}"></h6>-->
        <h3 th:text="${departmentLabel}"></h3>
        <h3 th:text="${workHours}"></h3>
        <div class="stopka">

            <p class="footer-company-motto main-label" th:text="#{footer.pizza}"></p>
            <p class="footer-company-name main-label" th:text="#{footer.copyright}"></p>
            <h5 class=""><a href="mailto:mateuszcholyn@gmail.com"
                                                         th:text="#{footer.sendMail}"></a></h5>
        </div>
    </footer>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.js}"
            src="webjars/jquery/3.2.1/jquery.js"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"
            src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:href="@{/js/main.js}" src="../../js/main.js"></script>
</div>
</body>
</html>