<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:fragment="header-css">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css"/>
        <link rel="stylesheet" th:href="@{/css/footer-basic-centered.css}" href="../../footer-basic-centered/f.css"/>
    </div>
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/}">Pizza</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">

                <ul class="nav navbar-nav navbar-right" >
                    <li th:if="${#httpServletRequest.remoteUser} != null">
                        <a>
                            <img width="35px" height="35px" th:src="@{${avatarLocation}}"/>

                        </a>
                    </li>
                    <li class="dropdown" th:if="${#httpServletRequest.remoteUser} != null">
                        <a href="#"
                           class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false"
                           th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li sec:authorize="hasAuthority('CLIENT')"><a th:href="@{/client/showProfile}" th:text="#{client.showProfile}"></a></li>
                            <li sec:authorize="hasAuthority('CLIENT')"><a th:href="@{/changePassword}" th:text="#{client.changePassword}"></a></li>
                            <!--<li><a th:href="@{/client/department/}" th:text="#{department.change}"></a></li>-->
                            <!--<li sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/manager/department/all}" th:text="#{department.list}"></a></li>-->
                            <!--<li sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/manager/department/}" th:text="#{department.add}"></a></li>-->
                            <!--<li sec:authorize="hasAuthority('MANAGER')"><a th:href="@{/manager/department/addEmployeesToDepartment}"-->
                                   <!--th:text="#{department.addEmployeesToDepartment}"></a></li>-->
                        </ul>
                    </li>


                    <li class="dropdown" sec:authorize="hasAuthority('MANAGER')">
                        <a href="#"
                           class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false"
                           th:inline="text">[[#{warehouse}]]<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header" th:text="#{items}"></li>
                            <li><a th:href="@{/user/item/all}" th:text="#{item.listOfItem}"></a></li>
                            <li sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/manager/item/}" th:text="#{item.addNewItem}"></a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header" th:text="#{ingredients}"></li>
                            <li><a th:href="@{/user/ingredient/all}" th:text="#{ingredient.listOfIngredients}"></a></li>
                            <li sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/manager/ingredient/}" th:text="#{ingredient.addNewIngredient}"></a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header" th:text="#{pizzas}"></li>
                            <li><a th:href="@{/user/pizza/all}" th:text="#{menu.pizza.list}"></a></li>
                            <li sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/manager/pizza/}" th:text="#{menu.pizza.add}"></a></li>


                            <!--th:inline="text">[[#{pizzas}]]<span class="caret"></span></a>-->
                            <!--<ul class="dropdown-menu">-->
                                <!--<li><a th:href="@{/user/pizza/all}" th:text="#{pizza.list}"></a></li>-->
                                <!--<li><a th:href="@{/manager/pizza/}" th:text="#{pizza.add}"></a></li>-->
                            <!--</ul>-->


                        </ul>
                    </li>

                    <!--<li class="dropdown" sec:authorize="hasAuthority('MANAGER')">-->
                        <!--<a href="#"-->
                           <!--class="dropdown-toggle"-->
                           <!--data-toggle="dropdown"-->
                           <!--role="button"-->
                           <!--aria-haspopup="true"-->
                           <!--aria-expanded="false"-->
                           <!--th:inline="text">[[#{items}]]<span class="caret"></span></a>-->
                        <!--<ul class="dropdown-menu">-->

                        <!--</ul>-->
                    <!--</li>-->


                    <!--<li class="dropdown" sec:authorize="hasAuthority('MANAGER')">-->
                        <!--<a href="#"-->
                           <!--class="dropdown-toggle"-->
                           <!--data-toggle="dropdown"-->
                           <!--role="button"-->
                           <!--aria-haspopup="true"-->
                           <!--aria-expanded="false"-->
                           <!--th:inline="text">[[#{ingredients}]]<span class="caret"></span></a>-->
                        <!--<ul class="dropdown-menu">-->
                            <!--<li><a th:href="@{/user/ingredient/all}" th:text="#{ingredient.list}"></a></li>-->
                            <!--<li><a th:href="@{/manager/ingredient/}" th:text="#{ingredient.add}"></a></li>-->
                        <!--</ul>-->
                    <!--</li>-->

                    <!--<li class="dropdown" sec:authorize="hasAuthority('USER')">-->
                        <!--<a href="#"-->
                           <!--class="dropdown-toggle"-->
                           <!--data-toggle="dropdown"-->
                           <!--role="button"-->
                           <!--aria-haspopup="true"-->
                           <!--aria-expanded="false"-->

                    <!--</li>-->
                    <li class="dropdown" sec:authorize="isAnonymous() || hasAuthority('CLIENT')">
                        <a href="#"
                           class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false"
                           th:inline="text">[[#{orders}]]<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/client/order}" th:text="#{client.order.makeOrder}"></a></li>
                            <li><a th:href="@{/client/order/summary}" th:text="#{client.order.summary}"></a></li>

                            <li sec:authorize="hasAuthority('CLIENT') || isAnonymous() "><a th:href="@{/client/order/purchasedOrderInfo}" th:text="#{client.order.purchasedOrderInfo}"></a></li>
                            <li sec:authorize="hasAuthority('CLIENT')"><a th:href="@{/client/order/all}" th:text="#{client.order.allOrders}"></a></li>
                            <li><a th:href="@{/client/department/}" th:text="#{department.change}"></a></li>



                            <li role="separator" class="divider" sec:authorize="hasAuthority('USER')"></li>
                            <li class="dropdown-header" th:text="#{order.changeStatus}" sec:authorize="hasAuthority('USER')"></li>
                            <li sec:authorize="hasAuthority('USER')"><a th:href="@{/user/order/waitingForApproval}" th:text="#{client.order.waitingForApproval}"></a></li>
                            <li sec:authorize="hasAuthority('USER')"><a th:href="@{/user/order/inProgress}" th:text="#{client.order.inProgress}"></a></li>
                            <li sec:authorize="hasAuthority('USER')"><a th:href="@{/user/order/duringDelivery}" th:text="#{client.order.duringDelivery}"></a></li>
                        </ul>
                    </li>

                    <li class="dropdown" sec:authorize="hasAuthority('MANAGER')">
                        <a href="#"
                           class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false"
                           th:inline="text">[[#{menuUsers}]]<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/registration}" th:text="#{user.add.new.user}"></a></li>
                            <li sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/admin/user/list}" th:text="#{users.list}"></a></li>
                            <!--<li sec:authorize="hasAuthority('MANAGER')"><a th:href="@{/manager/user/duringDelivery}" th:text="#{users.list}"></a></li>-->
                        </ul>
                    </li>

                    <!--<ul class="nav navbar-nav" sec:authorize="hasAuthority('MANAGER')">-->

                    <!--</ul>-->
                    <li th:if="${#httpServletRequest.remoteUser} != null">
                        <a>
                            <form th:action="@{/logout}" method="post">
                                <div th:replace="fragments/components :: submitButtonSmall(label='signout')"></div>
                            </form>
                        </a>
                    </li>
                    <ul class="nav navbar-nav" sec:authorize="isAnonymous()">
                        <li><a th:href="@{/registration}" th:text="#{registration}"></a></li>
                        <li><a th:href="@{/login}" th:text="#{login}"></a></li>
                    </ul>
                    <li class="dropdown">
                        <a href="#"
                           class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false"
                           th:inline="text">[[#{language}]]<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{''(lang=)}" th:text="#{polish}"></a></li>
                            <li><a th:href="@{''(lang=en)}" th:text="#{english}"></a></li>
                            <!--<li sec:authorize="hasAuthority('MANAGER')"><a th:href="@{/manager/user/duringDelivery}" th:text="#{users.list}"></a></li>-->
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>
</body>
</html>