<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css"/>
        <link rel="stylesheet" th:href="@{/css/footer-basic-centered.css}" href="../../footer-basic-centered/f.css"/>
    </div>
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/}">Pizza</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/registration}" th:text="#{registration}"></a></li>
                    <li><a th:href="@{/login}" th:text="#{login}"></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" th:if="${#httpServletRequest.remoteUser} != null">
                    <li>
                        <a th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]</a>
                    </li>
                    <li class="dropdown">
                        <a href="#"
                           class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false"
                           th:inline="text">[[#{departments}]]<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/manager/department/all}" th:text="#{department.list}"></a></li>
                            <li><a th:href="@{/manager/department/}" th:text="#{department.add}"></a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#"
                           class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false"
                           th:inline="text">[[#{items}]]<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/user/item/all}" th:text="#{item.list}"></a></li>
                            <li><a th:href="@{/manager/item/}" th:text="#{item.add}"></a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#"
                           class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false"
                           th:inline="text">[[#{ingredients}]]<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/user/ingredient/all}" th:text="#{ingredient.list}"></a></li>
                            <li><a th:href="@{/manager/ingredient/}" th:text="#{ingredient.add}"></a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#"
                           class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false"
                           th:inline="text">[[#{pizzas}]]<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/user/pizza/all}" th:text="#{pizza.list}"></a></li>
                            <li><a th:href="@{/manager/pizza/}" th:text="#{pizza.add}"></a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#"
                           class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false"
                            th:inline="text">[[#{users}]]<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" th:text="#{users.list}"></a></li>
                        </ul>
                    </li>
                    <li>
                        <a>
                            <form th:action="@{/logout}" method="post">
                                <div th:replace="fragments/components :: submitButtonSmall(label='signout')"></div>
                            </form>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>