<html xmlns:th="http://www.thymeleaf.org">


<div th:fragment="modalOrder(userOrderDto)">
    <!--<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Open Modal</button>-->

    <button
            type="button"
            class="btn btn-info"
            data-toggle="modal"
            th:text="#{order.details}"
            th:attrappend="data-target='#myOrder' + ${userOrderDto.id}">
    </button>


    <div class="modal fade" th:attrappend="id='myOrder' + ${userOrderDto.id}" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" th:text="#{modal.order.info}"></h4>
                </div>
                <div class="modal-body">
                    <!--////////////////////////////////////////////////////////////////////////////////-->
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th th:text="#{item.name}"></th>
                            <th th:text="#{item.quantity}"></th>
                            <th th:text="#{item.purchasePrice}"></th>
                            <th th:text="#{item.totalPriceItems}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="boughtItem : ${userOrderDto.boughtItems}">
                            <td th:text="${boughtItem.item.name}"></td>
                            <td th:text="${boughtItem.quantity}"></td>
                            <td th:text="${boughtItem.purchasePrice}"></td>
                            <td th:text="${boughtItem.purchasePrice} * ${boughtItem.quantity}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th th:text="#{pizza.name}"></th>
                            <th th:text="#{pizza.quantity}"></th>
                            <th th:text="#{pizza.purchasePrice}"></th>
                            <th th:text="#{pizza.totalPriceItems}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="boughtPizza : ${userOrderDto.boughtPizzas}">
                            <td th:text="${boughtPizza.pizza.name}"></td>
                            <td th:text="${boughtPizza.quantity}"></td>
                            <td th:text="${boughtPizza.purchasePrice}"></td>
                            <td th:text="${boughtPizza.purchasePrice} * ${boughtPizza.quantity}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <div th:if="${userOrderDto.deliveryInfoDto == null}">
                        <strong>Delivery Data are not selected!</strong>
                    </div>
                    <div th:if="${userOrderDto.deliveryInfoDto != null}">
                        <h1>Informacja o dostawie</h1>
                        <div th:replace="fragments/components :: h4LabelCentered(label='order.note', value=${userOrderDto.deliveryInfoDto.note})"></div>
<!---->
                        <h1>Adres dostawy</h1>

                        <div class="row">

                            <div class="col-md-5">
                                <div th:replace="fragments/components :: h4LabelCentered(label='common.address.city', value=${userOrderDto.deliveryInfoDto.addressDto.city})"></div>

                            </div>
                            <div class="col-md-2"></div>

                            <div class="col-md-5">
                                <div th:replace="fragments/components :: h4LabelCentered(label='common.address.street', value=${userOrderDto.deliveryInfoDto.addressDto.street})"></div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-5">
                                <div th:replace="fragments/components :: h4LabelCentered(label='common.address.houseNumber', value=${userOrderDto.deliveryInfoDto.addressDto.houseNumber})"></div>

                            </div>
                            <div class="col-md-2"></div>

                            <div class="col-md-5">
                                <div th:replace="fragments/components :: h4LabelCentered(label='common.address.flatNumber', value=${userOrderDto.deliveryInfoDto.addressDto.flatNumber})"></div>
                            </div>
                        </div>

                        <!---->
                        <h1>Dane odbiorcy</h1>
                        <div th:replace="fragments/components :: h4LabelCentered(label='order.user.name', value=${userOrderDto.deliveryInfoDto.deliveryUserDataDto.name})"></div>
                        <div th:replace="fragments/components :: h4LabelCentered(label='order.user.lastName', value=${userOrderDto.deliveryInfoDto.deliveryUserDataDto.lastName})"></div>
                        <div th:replace="fragments/components :: h4LabelCentered(label='order.user.email', value=${userOrderDto.deliveryInfoDto.deliveryUserDataDto.email})"></div>
                        <div th:replace="fragments/components :: h4LabelCentered(label='order.user.phoneNumber', value=${userOrderDto.deliveryInfoDto.deliveryUserDataDto.phoneNumber})"></div>
<!---->
                        <!--<div th:replace="fragments/components :: submitButton(label='order.makeOrder')"></div>-->
                    </div>
                    <!--////////////////////////////////////////////////////////////////////////////////-->

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{modal.close}"></button>
                </div>
            </div>

        </div>
    </div>
</div>

</html>