<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>
    <div th:replace="fragments/components :: h2LabelCentered(label='item', value=${itemDto.id})"></div>
    <div class="row">
        <div class="col-md-6">
            <div th:replace="fragments/components :: h4LabelCentered(label='item.name', value=${itemDto.name})"></div>
        </div>
        <div class="col-md-6">
            <div th:replace="fragments/components :: h4LabelCentered(label='item.description', value=${itemDto.description})"></div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>