<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <form
                    th:action="@{/manager/item/}"
                    th:object="${itemDto}"
                    method="post"
                    class="form-horizontal"
                    role="form">
                <div th:replace="fragments/components :: inputTextField(inputName='name', label='item.name')"></div>
                <div th:replace="fragments/components :: inputTextField(inputName='description', label='item.description')"></div>
                <div th:replace="fragments/components :: submitButton(label='item.add')"></div>
            </form>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>