<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>
    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th th:text="#{common.id}">ID</th>
            <th th:text="#{item.name}"></th>
            <th th:text="#{item.description}"></th>
            <th th:text="#{item.price}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <td>
                <a th:href="@{/user/item/} + ${item.id}" th:text="${item.id}"></a>
            </td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.description}"></td>
            <td th:text="${item.price}"></td>
        </tr>
        </tbody>
    </table>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>