<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>
    <div th:replace="fragments/components :: headerH4ReedError(text='Wystąpił błąd!')"></div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div th:replace="fragments/components :: h2LabelCentered(label=${errorMsg}, value='')"></div>
            <div>
                <h4 class="text-center">

                <a class="text-center" th:href="@{/}" th:text="#{error.redirectToMainPage}"></a>
                </h4>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>