<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>
    <div th:replace="fragments/components :: headerH4ReedError(text='Przed skorzystaniem z serwisu musisz podać swoje hasło!')"></div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <form
                    th:action="@{/changePassword}"
                    th:object="${changePasswordDto}"
                    method="post"
                    class="form-horizontal"
                    role="form">

                <div th:if="${passwordNotTheSame} == true">
                    <div th:replace="fragments/components :: headerH4ReedError(text='Podane hasła się różnią!')"></div>

                </div>

                <div th:replace="fragments/components :: inputNormalPasswordField(inputName='newPassword', label='newPassword')"></div>
                <div th:replace="fragments/components :: inputNormalPasswordField(inputName='newPasswordv2', label='password.repeat')"></div>
                <div th:replace="fragments/components :: submitButton(label='submitNewPassword')"></div>

            </form>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>