<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Security Tutorial</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>

<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>
    <img th:src="@{/images/login.jpg}" class="img-responsive center-block" width="300" height="300" alt="Logo"/>
    <form
            th:action="@{/login}"
            method="POST"
            class="form-signin">
        <div align="center" th:if="${param.error}">
            <div th:replace="fragments/components :: submitButton(label='loginError')"></div>
        </div>
        <div th:replace="fragments/components :: inputNormalEmailField(inputName='email', label='email')"></div>
        <div th:replace="fragments/components :: inputNormalPasswordField(inputName='password', label='password')"></div>
        <div th:replace="fragments/components :: submitButton(label='login')"></div>
    </form>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>