<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <form
                    th:action="@{/registration}"
                    th:object="${userDto}"
                    method="post"
                    class="form-horizontal"
                    role="form">
                <span th:utext="${successMessage}"></span>
                <div class="row">
                    <div class="col-md-5">
                        <div th:replace="fragments/components :: inputTextField(inputName='name', label='name')">
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5">
                        <div th:replace="fragments/components :: inputTextField(inputName='lastName', label='lastName')">
                        </div>
                    </div>
                </div>
                <div th:replace="fragments/components :: inputEmailField(inputName='email', label='email')"></div>
                <div th:replace="fragments/components :: inputPasswordField(inputName='password', label='password')"></div>

                <div id="roles" sec:authorize="!isAnonymous()">

                <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Rola</th>
                        <th>Active</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="role, stat : ${userDto.roles}">
                        <td th:text="${role.role}"></td>
                        <td>
                            <input type="checkbox" th:field="*{roles[__${stat.index}__].selected}"/>
                            <input type="number" th:hidden="true" th:field="*{roles[__${stat.index}__].id}"/>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
                <div th:replace="fragments/components :: submitButton(label='register')"></div>
            </form>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>