<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div class="container">
<div th:replace="fragments/header :: header"></div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form
                    th:action="@{/registration}"
                    th:object="${userDto}"
                    method="post"
                    class="form-horizontal"
                    role="form">
                <span th:utext="${successMessage}"></span>
                <div class="row">
                    <div class="col-md-5">
                        <div th:replace="fragments/components :: inputTextField(inputName='name', label='name')">
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5">
                        <div th:replace="fragments/components :: inputTextField(inputName='lastName', label='lastName')">
                        </div>
                    </div>
                </div>
                <div th:replace="fragments/components :: inputEmailField(inputName='email', label='email')"></div>
                <div th:replace="fragments/components :: inputPasswordField(inputName='password', label='password')"></div>
                <div th:replace="fragments/components :: submitButton(label='register')"></div>
            </form>
        </div>
    </div>
</div>
</body>
</html>