<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>
    <div th:replace="fragments/components :: headerH4Reed(text='Informacje o profilu')"></div>

    <hr/>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                <div th:replace="fragments/components :: headerH4Reed(text=#{user.address.basic})"></div>

            </div>

            <div class="row">
                <div class="col-md-3">
                    <div th:replace="fragments/components :: h4LabelCentered(label='name', value=${userDto.name})"></div>
                </div>
                <div class="col-md-3">
                    <div th:replace="fragments/components :: h4LabelCentered(label='lastName', value=${userDto.lastName})"></div>
                </div>
                <div class="col-md-3">
                    <div th:replace="fragments/components :: h4LabelCentered(label='email', value=${userDto.email})"></div>
                </div>
                <div class="col-md-3">
                    <div th:replace="fragments/components :: h4LabelCentered(label='phoneNumber', value=${userDto.phoneNumber})"></div>
                </div>
            </div>

            <div class="row">
                <div th:replace="fragments/components :: headerH4Reed(text=#{user.address.profile})"></div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div th:replace="fragments/components :: h4LabelCentered(label='common.address.city', value=${userDto.addressDto.city})"></div>
                </div>
                <div class="col-md-3">
                    <div th:replace="fragments/components :: h4LabelCentered(label='common.address.street', value=${userDto.addressDto.street})"></div>
                </div>
                <div class="col-md-3">
                    <div th:replace="fragments/components :: h4LabelCentered(label='common.address.houseNumber', value=${userDto.addressDto.houseNumber})"></div>
                </div>
                <div class="col-md-3">
                    <div th:replace="fragments/components :: h4LabelCentered(label='common.address.flatNumber', value=${userDto.addressDto.flatNumber})"></div>
                </div>
            </div>

            <!--<div class="row">-->
                <!--<div class="col-md-4">-->
                    <!--<div th:replace="fragments/components :: h4LabelCentered(label='common.address.houseNumber', value=${userDto.addressDto.houseNumber})"></div>-->
                <!--</div>-->
                <!--<div class="col-md-2"></div>-->
                <!--<div class="col-md-4">-->
                    <!--<div th:replace="fragments/components :: h4LabelCentered(label='common.address.flatNumber', value=${userDto.addressDto.flatNumber})"></div>-->
                <!--</div>-->
            <!--</div>-->
            <div class="row">
                <div th:replace="fragments/components :: headerH4Reed(text=#{image.changeAvatar})"></div>

            </div>
            <div>
                <form class="form-horizontal"
                      role="form"
                      method="POST"
                      enctype="multipart/form-data"
                      th:action="@{/client/storeAvatar}">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input
                                        type="file"
                                        class="file"
                                        th:name="file"
                                        th:placeholder="#{file.choose}"
                                        required="required"/>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <div th:replace="fragments/components :: submitButtonMedium(label='avatar.submit.changeAvatar')"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>