<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>
    <div th:replace="fragments/components :: headerH4Reed(text='Informacje o dostawie')"></div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            Tutaj są jakieś informacje o dostawie
        </div>
        <div class="col-md-1"></div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>