<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>
    <div th:replace="fragments/components :: headerH4Reed(text='Dodawanie nowego oddziału')"></div>


    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <form
                    th:action="@{/manager/department/}"
                    th:object="${departmentDto}"
                    method="post"
                    class="form-horizontal"
                    role="form">
                <!--//inputy tutaj-->

                <div class="row">

                    <div class="col-md-5">
                        <div th:replace="fragments/components :: inputTextField(inputName='addressDto.city', label='common.address.city')"></div>

                    </div>
                    <div class="col-md-2"></div>

                    <div class="col-md-5">
                        <div th:replace="fragments/components :: inputTextField(inputName='addressDto.street', label='common.address.street')"></div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-5">
                        <div th:replace="fragments/components :: inputNumberField(inputName='addressDto.houseNumber', label='common.address.houseNumber')"></div>

                    </div>
                    <div class="col-md-2"></div>

                    <div class="col-md-5">
                        <div th:replace="fragments/components :: inputNumberField(inputName='addressDto.flatNumber', label='common.address.flatNumber')"></div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-5">
                        <div th:replace="fragments/components :: inputNumberField(inputName='multiplier', label='department.multiplier')"></div>

                    </div>
                    <div class="col-md-2"></div>

                    <div class="col-md-5">
                        <div th:replace="fragments/components :: inputTextField(inputName='phoneNumber', label='department.phoneNumber')"></div>
                    </div>
                </div>



                <div th:replace="fragments/components :: inputHiddenField(inputName='active')"></div>



                <div class="row">

                    <div class="col-md-5">
                        <div th:replace="fragments/components :: inputTimeField(inputName='openHour', label='department.openHour')"></div>

                    </div>
                    <div class="col-md-2"></div>

                    <div class="col-md-5">
                        <div th:replace="fragments/components :: inputTimeField(inputName='closeHour', label='department.closeHour')"></div>
                    </div>
                </div>


                <div th:replace="fragments/components :: inputSelectList(inputName='manager.id', label='department.chooseManager', selectList=${freeManagers})"></div>

                <!--//koniec inputow-->
                <div th:replace="fragments/components :: submitButton(label='department.add')"></div>
            </form>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>