<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>
    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>City</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="department : ${departments}">
            <td>
                <a th:href="@{/manager/department/} + ${department.id}" th:text="${department.id}"></a>
            </td>
            <td th:text="${department.addressDto.city}">
            </td>
        </tr>
        </tbody>
    </table>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>